body {
  margin: 2%;
}

.App {
  height: auto;
  width: auto;
  display: grid;
  /* grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 5fr 2fr 1fr 1fr 1fr; */
}

.App-header {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: transparent;
}

.related-products {
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: transparent;
  max-width: 800px;
}


