.product {
  display: block;
  max-width: 100%;
  max-height: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 5fr 1fr;
  grid-row-gap: 4%;
  background-color: transparent;
  margin: 2%;
}

.featured-image {
  display: block;
  margin: auto;
  background-color: transparent;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-fullscreen {
  height: 100%;
  width: 95%;
  transform: scale(3);
}

.fullscreen {
  position: absolute;
  margin-left: 58%;
  top: 20%;
  z-index: 1;
}

.featured-image-enlarged {
  transform: scale(3);
}

.product-options {
  display: block;
  margin: auto;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.description {
  height: 100%;
  width: 100%;
  margin-left: 2%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: transparent;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
}

.description-left {
  grid-column-start: 1;
  grid-column-end: 1;
  background-color: transparent;
}

.description-right {
  grid-column-start: 2;
  grid-column-end: 3;
  border-left: 2px solid black;
  padding-left: 2%;
  margin-left: 2%;
  background-color:transparent;
}

.style-selector {
  display: flex;
  flex-wrap: wrap;
  width: 275px;
  height: 150px;
  padding: 2%;
}

.style-selector > div {
  margin: 2%;
}

.styleBubble {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  background-size: contain;
}

.thumbnails {
  position: relative;
  width: 50px;
  /* top: 17%; */
  bottom: 102%;
  left: 3%;
  display: flex;
  flex-direction: column;
}

.thumbnail-img {
  height: 50px;
  width: 50px;
  outline: 1px solid black;
  margin-top: 25%;
}

.isSelectedThumbnail {
  position: relative;
  top: 5px;
  height: 50px;
  width: 50px;
  border-bottom: 2px solid black;
}

.carousel {
  height: 100%;
  width: 95%;
}

.slide-arrow-left {
  position: relative;
  width: 3%;
  top: 44.75%;
  left: 17%;
  z-index: 1;
}

.slide-arrow-right {
  position: relative;
  width: 3%;
  bottom: 59.25%;
  left: 90%;
  z-index: 1;
}

.image-slide {
  position: relative;
  width: 500px;
  height: 500px;
  /* margin-right: 3.5%; */
  /* right: 2%; */
}

.chevron-down {
  margin-left: 33%;
  margin-top: 25%;
}

.form {
  width: 100%;
}

.sizeForm {
  width: 60%;
  height: 50px;
  margin-right: 5%;
  margin-bottom: 5%;
  padding-left: 5%;
  background-color: transparent;
  outline: 1px solid white;
}

.quantityForm {
  width: 35%;
  height: 50px;
  padding-left: 5%;
  background-color: transparent;
  outline: 1px solid white;
}

.addToBag {
  width: 75%;
  height: 50px;
  margin-right: 5%;
  background-color: transparent;
  border: 1px solid black;
  outline: 1px solid white;
  text-align: left;
  padding-left: 7.5%;
}

.starButton {
  width: 20%;
  height: 50px;
  background-color: transparent;
  border: 1px solid black;
  outline: 1px solid white;
}

.form-option {

}


.selectedStyle {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  margin-left: 70%;
  border: 1px solid black;
}

.selectedStyleCheck {
  height: 90%;
  width: 90%;
  margin-left: 6%;
  margin-bottom: 15%;
  color: black;
}

.default-price {
  font-size: small;
  /* color: rgb(63, 63, 63); */
  margin-bottom: 4%;
}

.product-category {
  /* color: rgb(63, 63, 63); */
}

.product-name {
  font-size: xx-large;
  font-weight: bolder;
  margin-top: 0%;
  margin-bottom: 2%;
}

.old-price {
  text-decoration: line-through;
  font-size: small;
  /* color: rgb(63, 63, 63); */
}

.sale-price {
  font-size: small;
  color: red;
  margin-bottom: 4%;
}

.style-style {
  font-weight: bold;
}

.style-name {
  margin-left: 5px;
}

.style-flex {
  display: flex;
}

.product-reviews-box {
  display: flex;
}

.product-rating-stars {
  /* margin-top: 3%; */
  right: 30px;
  transform: scale(0.5);
}

.product-reviews-text {
  margin-top: 5px;
  font-size: 2pt;
  margin-left: -45px;
  text-decoration: none;
  color: black;
}

.modalDiv {
  max-width: 100vw;
  max-height: 100vh;
  margin: auto;
  text-align: center;
  z-index: -1;
}

.modalImg {
  max-width: 95vw;
  max-height: 95vh;
}


.modalDiv .slide-arrow-right {
  position: absolute;
  width: auto;
  height: auto;
  color: white;
  bottom: 52.5%;
  transform: scale(4);
  z-index: 1;
}

.modalDiv .slide-arrow-left {
  position: absolute;
  width: auto;
  height: auto;
  color: white;
  left: 10%;
  transform: scale(4);
  z-index: 1;
}

.product-feature-div {
  display: flex;
}

.product-feature-text {
  display: flex;
  font-weight: lighter;
  font-size: xx-small;
  /* color: rgb(63, 63, 63); */
}

.feature-check {
  margin-top: 3%;
  margin-right: 4%;
  margin-left: 2%;
}

.description-left p {
  font-weight: lighter;
  font-size: xx-small;
  /* color: rgb(63, 63, 63); */
}