.reviews {
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  background-color:white;
}

.grayBar{
  width:20%;
  height: 20px;
  background-color: gray;
}

.grayBar .greenBar{
  background-color: rgb(44, 173, 44);
  width: 75%;
  height: 20px;
}