

.reviews {
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  background-color:transparent;
  max-width: 800px;
}

.reviewTitle {
  font-weight: bold;
  font-size: large;
}

.ratings {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  column-gap: 25px;
  grid-row-gap: 5px;
  }
  
  .div1 { 
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .div2 {     
    grid-column-start: 2;
    grid-column-end: 3;
  }


.reviews h1 {
  font-size: 45px;
}

.grayBar{
  width:100%;
  height: 10px;
  background-color: rgba(209, 205, 205, 0.774);
}

/* .grayBar .greenBar{
  background-color: green;
  width: 75%;
  height: 10px;
} */

.char {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width:100%;
  height: 10px;
  background-color: rgba(209, 205, 205, 0.774);
}

.fivestars{
  transform: scale(0.8);
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 20px solid black;
}

hr.solid {
  border-top: 1px solid black;
}

.helpfulButton {
  font-size: 12px;
}

.charTitles{
  font-size: 18px;
}